*{
    margin:0;
    padding: 0;
}

body{
    overflow-x: hidden;
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right,#0c3c50,#077A7D,#7AE2CF );
    padding: 0 !important;

}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;

}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #ffffff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler{
    outline: none !important;

}

/*---------------------------------Banner Section-----------------------------------------*/


#banner{
    height: 100vh; /* Fills full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right,#0c3c50,#077A7D,#7AE2CF);
    color: #ffffff;
    text-align: center;
}

.promo-title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
}

.quote{
    font-size: 20px;
    color: #ffffff !important;
    font-weight: 500;
    font-family: "lucida handwriting", serif;
    margin-bottom: 30px;
}

.bottom-img{
    width: 100%;
}

/*---------------------------------Social Media Section-----------------------------------------*/

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
}


.social-icons a:hover img{
    transform: translateY(-10px);
}

/*---------------------------------Footer Section-----------------------------------------*/

#footer{
    background-image: linear-gradient(to right,#0c3c50,#077A7D,#7AE2CF);
    color: #fff;
    padding: 40px 0 20px 0;
    margin: 0;
    text-align: center;
}






